.long-press-button {
    position: absolute;
    top: 10vh;
    right: 10vh;
    height: 5vh;
    height: clamp(48px, 5vh, 5vh);
    width: 5vh;
    width: clamp(48px, 5vh, 5vh);
    border-radius: 50%;
    z-index: 10;
}
